<launch>

  <node pkg="floor_plane_ceres" type="floor_plane_ceres" name="floor_plane_ceres" output="screen">
      launch-prefix="xterm -e gdb --args"
      <param name="base_frame" value="Hokuyo_sensor" />
      <param name="max_range" value="2.0" />
      <param name="huberLossParam" value="1000" />

      <remap from="/floor_plane_ceres/scans" to="/depth_registered/points"/>
  </node>
  
  <!-- Axes -->

  <node pkg="vrep_ros_teleop" type="teleop.py" name="teleop">
      <param name="axis_linear" value="1" type="int"/>
      <param name="axis_angular" value="0" type="int"/>
      <param name="scale_linear" value="0.8" type="double"/>
      <param name="scale_angular" value="0.5" type="double"/>
      <remap from="/teleop/joy" to="/joy"/>
      <remap from="/teleop/twistCommand" to="/vrep/twistCommand"/>
  </node>
</launch>
