<launch>

  <node pkg="floor_plane_regression" type="floor_plane_regression" name="floor_plane_regression" output="screen">
      launch-prefix="xterm -e gdb --args"
      <param name="base_frame" value="Hokuyo_sensor" />
      <param name="max_range" value="2." />

      <remap from="/floor_plane_regression/scans" to="vrep/twistCommand"/>
  </node>
</launch>
